header { background-color: #a78ac1;
font-size: larger;}{ }
body{ background-color: antiquewhite;
}
footer{background-color: #a78ac1;}
button
{height: 50px;
    font-size: larger;
    color: antiquewhite;
}